<!doctype html>

<style>
table {
    width: 100%;
    padding: 0 50px 0 50px;
}
</style>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>CardCombo</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2>CardCombo - What's best for you?</h2>
          <p><a href="/">Home</a> | <a href="/database">Credit Card Database</a> | <a href="https://github.com/nateharms/CardCombo">Github</a></p>
          <h7>Enter your estimted monthly expenses for the following categories and select if these expenses are monthly or annual.</h7>
          <form action="/results" method="GET">
            <table class='text-center'>
              <tr>
                <th padding='15px'>Cateogry</th>
                <th padding='15px'>Estimated Expenses</th>
                <th padding='15px'>Annual?</th>
                <th padding='15px'>Monthly?</th>
              </tr>
              <tr>
                <th><label>Flights:</label></th>
                <th><input type="number" id="flights" name="flights", placeholder="$1000"></th>
                <th><input type="radio" id="annual" name="flights-freq" value="annual" checked></input></th>
                <th><input type="radio" id="monthly" name="flights-freq" value="monthly"></input></th>
              </tr>
              <tr>
                <th><label>Hotel:</label></th>
                <th><input type="number" id="hotel" name="hotel", placeholder="$1000"></th>
                <th><input type="radio" id="annual" name="hotel-freq" value="annual" checked></input></th>
                <th><input type="radio" id="monthly" name="hotel-freq" value="monthly"></input></th>
              </tr>
              <tr>
                <th><label>Grocery:</label></th>
                <th><input type="number" id="grocery" name="grocery", placeholder="$1000"></th>
                <th><input type="radio" id="annual" name="grocery-freq" value="annual" checked></input></th>
                <th><input type="radio" id="monthly" name="grocery-freq" value="monthly"></input></th>
              </tr>
              <tr>
                <th><label>Gas:</label></th>
                <th><input type="number" id="gas" name="gas", placeholder="$1000"></th>
                <th><input type="radio" id="annual" name="gas-freq" value="annual" checked></input></th>
                <th><input type="radio" id="monthly" name="gas-freq" value="monthly"></input></th>
              </tr>
              <tr>
                <th><label>Utilities:</label></th>
                <th><input type="number" id="utilities" name="utilities", placeholder="$1000"></th>
                <th><input type="radio" id="annual" name="utilities-freq" value="annual" checked></input></th>
                <th><input type="radio" id="monthly" name="utilities-freq" value="monthly"></input></th>
              </tr>
              <tr>
                <th><label>Restaurants & Dining:</label></th>
                <th><input type="number" id="restaurants" name="restaurants", placeholder="$1000"></th>
                <th><input type="radio" id="annual" name="restaurants-freq" value="annual" checked></input></th>
                <th><input type="radio" id="monthly" name="restaurants-freq" value="monthly"></input></th>
              </tr>
              <tr>
                <th><label>Other:</label></th>
                <th><input type="number" id="other" name="other", placeholder="$1000"></th>
                <th><input type="radio" id="annual" name="other-freq" value="annual" checked></input></th>
                <th><input type="radio" id="monthly" name="other-freq" value="monthly"></input></th>
              </tr>

              
            </table><br>
            <label for="current_cards">Add cards that you current have / would like to be included in the simulation:</label>
            <input list="current_cards" name="current_cards" id="current_cards">
            <datalist id="current_cards">
              <option value="Dummy"></option>
            </datalist><br>
            <input type="submit">
          </form>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>





