{% extends "bootstrap/base.html" %}
{% block content %}
  <head>
    <meta charset="utf-8">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>CardCombo</title>

  </head>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">
        <h2>CardCombo - What's best for you?</h2>
        <p><a href="/">Home</a> | <a href="/database">Credit Card Database</a> | <a href="https://github.com/nateharms/CardCombo">Github</a></p>
        {{plot|safe}}

        {{card_fig|safe}}
        
        <table style="width: 100%">
          <colgroup>
            <col span="1" style="width: 15%;">
            <col span="1" style="width: 85%;">
          </colgroup>
          <tr>
            <th style='text-align:center'>Nerdwallet Reviews</th>
            <th style='text-align:center'>Card Profile</th>
          </tr>

          
          {% for fig, names in radar_figs %}
            <tr>
              <th>
                {% for name, link in names %}
                  <li><a href={{link}} target="_blank">{{name}}</a></li>
                {% endfor %}
              </th>
              <th>{{fig|safe}}</th>
            </tr>
          {% endfor %}
        </table>



        {% for num_cards, all_cards in results %}
          <b>Number of Cards: {{num_cards}}</b>
          {% for rewards, cards in all_cards%}
            <li>${{rewards}} : 
              {% for card in cards%}
                {{card}}, 
              {% endfor %}


            </li>
          {% endfor %}<br>
        {% endfor %}

      </div>
    </div>
  </div>
{% endblock %}






